
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model YMS5122_NTier.UI.Areas.Admin.Models.ProductUpdateVM

<form action="/Admin/Product/Update" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Name">Ürün Adı</label>
        <input type="text" name="Name" class="form-control" value="@Model.Product.Name"/>
    </div>
    <div class="form-group">
        <label for="Price">Fiyat</label>
        <input type="text" name="Price" class="form-control" value="@Model.Product.Price"/>
    </div>
    <div class="form-group">
        <label for="UnitsInStock">Stok Miktarı</label>
        <input type="text" name="UnitsInStock" class="form-control"  value="@Model.Product.UnitsInStock" />
    </div>
    <div class="form-group">
        <label for="Quantity">Birimi</label>
        <input type="text" name="Quantity" class="form-control"  value="@Model.Product.Quantity" />
    </div>
    <div class="form-group">
        <label for="CategoryID">Kategori Seçiniz</label>
        <select name="CategoryID" class="form-control">
            @foreach (var item in Model.Categories)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Image">Fotoğraf Seçiniz</label>
        <input type="file" name="Image" class="form-control" />
    </div>
    <input style="visibility:hidden" type="text" name="Id" value="@Model.Product.Id"/>
    <input type="submit" value="Güncelle" class="form-control btn btn-primary" />
</form>